.clientsLogo_section{
    @include displayFlex(column, center, center);
    gap: 2rem;
    width: 100%;
    height: auto;
    padding: 4rem 0;
    background: var(--secundary-color);
    & h2{
        color: var(--primary-color)
    }
    & .clientsLogo_list{
        @include displayFlex(row, center, center);
        gap: 1rem;
        width: 100%;
        flex-wrap: wrap;
        & .clientsLogo_list_item{
            width: 25%;
            & img{
                border: 0.1rem solid var(--primary-color);
                width: 100%;
                border-radius: 1rem;
            }
        }
    }
}