.clientsLogo_section{
    @include displayFlex(column, center, center);
    gap: 6rem;
    width: 100%;
    height: auto;
    padding: 4rem 0;
    background: var(--secundary-color);
    & h2{
        color: var(--primary-color)
    }
    & .clientsLogo_list{
        @include displayFlex(row, center, center);
        gap: 1rem;
        width: 100%;
        flex-wrap: wrap;
        @include respond-to(medium) {
            width: 80%;
        }
    
        @include respond-to(large) {
            width: 60%;
        }
        & .clientsLogo_list_item{
            width: 19%;
            @include respond-to(medium) {
                width: 15%;
            }
        
            @include respond-to(large) {
                width: 12%;
            }
            & img{
                border: 0.1rem solid var(--primary-color);
                width: 100%;
                border-radius: 1rem;
            }
        }
    }
}