.clientsLogo_section{
    @include displayFlex(column, center, center);
    gap: 6rem;
    width: 100%;
    height: auto;
    padding: 4rem 0;
    background: var(--secundary-color);
    & h2{
        color: var(--primary-color)
    }
    & .clientsLogo_list{
        @include displayFlex(row, center, center);
        gap: 1rem;
        width: 100%;
        flex-wrap: wrap;
        @include respond-to(medium) {
            width: 80%;
        }
    
        @include respond-to(large) {
            width: 60%;
        }
        & .clientsLogo_list_item{
            @include displayFlex(row, center, center);
            height: 8rem;
            width: 11rem;
            & img{
                border: 0.1rem solid var(--primary-color);
                width: 9rem;
                height: 7rem;
                border-radius: 1rem;
                @include respond-to(large) {
                    width: 11rem;
                    height: 8rem;
                }
            }
        }
    }
}