.footer_section {
    @include displayFlex(column, space-between, center);
    width: 100%;
    height: 24rem;
    padding: 2rem 1rem;
    background: #000;

    & .footer_first_section {
        @include displayFlex(row, center, center);
        width: 100%;
        @include respond-to(medium) {
            width: 60%;
            @include displayFlex(row, space-around, center);
        }
    
        @include respond-to(large) {
            width: 60%;
        }
        & .Image_section {
            @include displayFlex(row, center, center);
            width: 100%;
            
            & img {
                width: 11rem;
                height: 10rem;
        
                @include respond-to(medium) {
                    width: 13rem;
                    height: 11rem;
                }
            }
        }
    
        & .footer_second_section {
            @include displayFlex(column, center, center);
            width: 100%;
            gap: 1rem;
            position: relative;
        }
    }
    & .footer_finalText_section{
        @include displayFlex(column, center, center);
        width: 100%;
        & p{
            font-size: 1.2rem;
            color: var(--primary-color);
            & .CopyRightIcon{
                margin-right: 1rem;
                font-size: 1.3rem;
            }
        }
    }
}

.footer_navegation {
    @include displayFlex(column, center, center);
    gap: 1rem;
    width: 100%;
    & .footer_navegation_item {
        font-size: 1.6rem;
        color: var(--primary-color);

        &:hover {
            cursor: pointer;
            color: var(--terciary-color);
        }
    }
    & .footer_politica_item {
        font-size: 1.6rem;
        color: var(--terciary-color);

        &:hover {
            cursor: pointer;
            color: var(--primary-color);
        }
    }
}

.nets{
    width: 100%;
    @include displayFlex(row, center, center);
    gap: 1rem;
    & .net_item a{
        font-size: 4rem;
        color: var(--primary-color);
        & .insta{
            color: var(--insta-color);
            &:hover {
                cursor: pointer;
                color: var(--terciary-color);
            }
        }
        & .whats{
            color: var(--whats-color);
            &:hover {
                cursor: pointer;
                color: var(--terciary-color);
            }
        }
    }
}