.higienizacaoComOzonio_background {
    @include displayFlex(column, center, center);
    width: 100%;
    height: 30rem;
    position: relative;
    z-index: 1;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 1);

    @include respond-to(medium) {
        height: 40rem;
    }

    @include respond-to(large) {
        height: 50rem;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: no-repeat center/100% url("/images/services/funilaria1.webp");
        opacity: 0.2;
        z-index: -1;
    }

    & h2 {
        width: 100%;
        padding: 1rem;
        color: var(--primary-color);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #AF000A;
            z-index: -1;
            opacity: 0.3;
        }
    }
}
