.home_container{
    min-height: 100vh;
    width: 100%;
    & h2{
        width: 100%;
        text-align: center;
        font-size: 2.4rem;
    }
}
//First Section
.section_introducing {
    @include displayFlex(column, center, center);
    gap: 2rem;
    text-align: center;
    width: 100%;
    height: 32.5rem;
    position: relative;
    z-index: 1;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 1);
    @include respond-to(medium){
        height: 54rem;
    }
    @include respond-to(large){
        height: 60rem;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-image: url("/images/backdrop/crossoverBackdrop2.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        @include respond-to(large) {
            background-size: contain;
        }
    }

    & h5 {
        font-size: 1.2rem;
    }
    
    & h2 {
        font-size: 1.5rem;
        color: var(--primary-color);
        position: relative;
        padding: 1rem;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #af00096e;
            z-index: -1;
            opacity: 0.8;
        }
    }
    
    & p {
        padding: 0 1rem;
        font-size: 1.6rem;
    }
}

.employers_title, .reviews_title {
    padding: 4rem 0 2rem 0;
}