//Fourth Section
.section_reviews {
    width: 100%;
    max-height: 100vh;
    padding: 2rem 1rem 6rem 1rem;
    position: relative;
    & .reviews_list {
        @include displayFlex(row, center, center);
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        @include respond-to(medium) {
            width: 70%;
        }
        @include respond-to(large) {
            width: 60%;
        }
        & .reviews_list_review {
            @include displayFlex(row, center, center);
            width: 100%;
            & .review_card {
                @include displayFlex(column, space-evenly, center);
                gap: 0.5rem;
                width: 85%;
                height: 38rem;
                padding: 1rem 4rem;
                background: rgba(218, 210, 210, 0.753);
                color: var(--secundary-color);
                border-radius: 1rem;
                @include respond-to(medium) {
                    height: 36rem;
                    width: 90%;
                    gap: 2rem;
                    padding: 2rem;
                }
                @include respond-to(large) {
                    padding: 2rem 4rem;
                }
                & .review_card_images{
                    @include displayFlex(column, center, center);
                    gap: 2rem;
                    & .avatar {
                        height: 10rem;
                        width: 10rem;
                        border-radius: 50%;
                    }
                    & span{
                        font-size: 3rem;
                        color: var(--terciary-color);
                        @include respond-to(medium) {
                            font-size: 3.4rem;
                        }
                    
                        @include respond-to(large) {
                            font-size: 3.6rem;
                        }
                    }
                }
                & p {
                    text-align: justify;
                    font-size: 1.4rem;
                    @include respond-to(medium) {
                        font-size: 1.6rem;
                    }
                
                    @include respond-to(large) {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

#rightArrow,
#leftArrow {
    color: var(--terciary-color);
    position: absolute;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}

#rightArrow {
    right: -10px;
}

#leftArrow {
    left: -10px;
}