.serviceItem_section {
    @include displayFlex(column, start, center);
    gap: 4rem;
    width: 100%;
    min-height: 100vh;
    border-bottom: 0.1rem solid var(--primary-color);

    & h2 {
        text-align: center;
        font-size: 3rem;
    }
}

.serviceItem_text_section {
    @include displayFlex(column, center, center);
    gap: 1rem;
    text-align: justify;
    width: 90%;
    @include respond-to(medium) {
        width: 75%;
    }
    @include respond-to(large) {
        width: 65%;
    }
    & h4 {
        font-size: 2rem;
        @include respond-to(medium) {
            font-size: 2.4rem;
        }
    
        @include respond-to(large) {
            font-size: 2.7rem;
        }
    }

    & p {
        padding: 1rem;
        font-size: 1.6rem;
        @include respond-to(medium) {
            font-size: 1.9rem;
        }
    
        @include respond-to(large) {
            font-size: 2.2rem;
        }
    }
}

.serviceItem_second_text_section {
    @include displayFlex(column, center, center);
    gap: 1rem;
    width: 100%;
    padding: 1rem;

    & h5 {
        font-size: 1.6rem;
        padding: 0 0.5rem;
        background: var(--quaternary-color);
        @include respond-to(medium) {
            font-size: 1.9rem;
        }
    
        @include respond-to(large) {
            font-size: 2.2rem;
        }
    }

    & ul {
        @include displayFlex(column, center, start);
        gap: 0.5rem;
        padding-left: 3rem;
        @include respond-to(medium) {
            text-align: left;
        }
        & li {
            list-style: circle;
            font-size: 1.4rem;

            @include respond-to(medium) {
                font-size: 1.9rem;
            }

            @include respond-to(large) {
                font-size: 2.2rem;
            }

            & span {
                font-size: 1.4rem;
                font-weight: 600;

                @include respond-to(medium) {
                    font-size: 1.9rem;
                }

                @include respond-to(large) {
                    font-size: 2.2rem;
                }
            }
        }
    }
    & p{
        font-size: 1.4rem;
        
        @include respond-to(medium) {
            font-size: 1.9rem;
        }
    
        @include respond-to(large) {
            font-size: 2.2rem;
        }
    
        & span {
            font-size: 1.4rem;
            font-weight: 600;
    
            @include respond-to(medium) {
                font-size: 1.9rem;
            }
    
            @include respond-to(large) {
                font-size: 2.2rem;
            }
        }
    }
}

.serviceItem_third_text_section {
    @include displayFlex(column, center, center);
    gap: 1rem;
    width: 100%;
    padding: 1rem;

    & h5 {
        font-size: 1.6rem;
        padding: 0 0.5rem;
        background: var(--quaternary-color);
    }

        & p {
            font-size: 1.6rem;
    
            @include respond-to(medium) {
                font-size: 1.9rem;
            }
    
            @include respond-to(large) {
                font-size: 2.2rem;
            }
        }

    & ul {
        @include displayFlex(column, center, start);
        gap: 0.5rem;
        padding-left: 3rem;

        & li {
            list-style: circle;
            font-size: 1.4rem;

            @include respond-to(medium) {
                font-size: 1.9rem;
            }

            @include respond-to(large) {
                font-size: 2.2rem;
            }
            & span {
                font-size: 1.4rem;
                font-weight: 600;
                @include respond-to(medium) {
                    font-size: 1.9rem;
                }
            
                @include respond-to(large) {
                    font-size: 2.2rem;
                }
            }
        }
    }
}