// Carrossel
.section_imageSwiper {
    @include displayFlex(row, center, center);
    width: 100%;
    position: relative;

    & .ImageSwiper_list {
        @include displayFlex(row, center, center);
        width: 100%;
        height: auto; // Altura do Swiper ajustável se necessário
        // Itens no modo desktop
        @include respond-to(large) {
            max-width: 1200px;
            margin: auto; // Centralizar no container principal
            height: auto;
        }
        & .ImageSwiper_item {
            @include displayFlex(row, center, center);
            width: auto;
            height: auto; // Mantém a altura automática para o Swiper

            & .ImageSwiper_card {
                @include displayFlex(row, center, center);
                width: 35rem; // Largura fixa para o card
                height: 40rem; // Altura fixa para o card
                background-color: #f5f5f5; // Fundo de cor neutra para contraste
                overflow: hidden; // Garantir que imagens maiores sejam cortadas

                & img {
                    border-radius: 0.5rem;
                    width: 100%; // Adapta a largura ao card
                    height: 100%; // Adapta a altura ao card
                    object-fit: cover; // Garante que a imagem seja proporcional dentro do espaço
                }

                .video-element {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                }

                .play-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border: none;
                    border-radius: 1rem;
                    padding-left: 0.2rem;
                    cursor: pointer;
                    background-color: var(--secundary-color);

                    &:hover {
                        opacity: 0.8;
                    }

                    & .playIcon{
                        font-size: 2.5rem;
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}

//Arrows
// #swiperRightArrow,
// #swiperLeftArrow {
//     color: var(--terciary-color);
//     position: absolute;
//     width: 4rem;
//     height: 4rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 10;

//     &:hover {
//         cursor: pointer;
//         opacity: 0.8;
//     }
// }

// #swiperRightArrow {
//     right: 0;
//     top: 50%;
//     transform: translateY(-50%);
// }

// #swiperLeftArrow {
//     left: 0;
//     top: 50%;
//     transform: translateY(-50%);
// }