//Carrossel
.section_imageSwiper {
    width: 100%;
    position: relative;

    & .ImageSwiper_list {
        height: 36rem;
        width: 100%;

        @include respond-to(medium) {
            display: none;
        }

        & .ImageSwiper_item {
            @include displayFlex(row, center, center);
            width: 100%;
            height: 100%;

            & .ImageSwiper_card {
                @include displayFlex(row, center, center);
                width: 100%;
                height: auto;

                & img {
                    border-radius: 0.5rem;
                    width: 37rem;
                    height: 32rem;
                }
            }
        }
    }
}

.ImageSwiper_list.desktop_list{
    display: none;
    width: 100%;
    @include respond-to(medium) {
        display: flex;
    }
    
    @include respond-to(medium) {
        height: 30rem;
    }
    
    @include respond-to(large) {
        width: 90%;
        height: 38rem;
    }

    & .ImageSwiper_item {
        min-width: 40rem;
        height: 100%;
        & .ImageSwiper_card {
            width: 100%;
            height: 100%;
            overflow: hidden;

            & img {
                border-radius: 0.5rem;
                width: 100%;
                max-width: 37rem;
                height: 100%; // Garante que a altura seja constante
                object-fit: contai;
                object-position: center; // Centraliza o conteúdo da imagem
            }
        }
    }
}

//Arrows
#swiperRightArrow,
#swiperLeftArrow {
    color: var(--terciary-color);
    position: absolute;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

#swiperRightArrow {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#swiperLeftArrow {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}