* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 62.5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
* a {
  text-decoration: none;
}

:root {
  --primary-color: #F2F4F3;
  --secundary-color: #000000;
  --terciary-color: #c70000;
  --quaternary-color: #000f46;
  --whats-color: #078d07;
  --insta-color: #ff008c;
}

.header_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  background: #000;
}
@media (min-width: 768px) {
  .header_section {
    padding: 1rem 3rem;
  }
}
.header_section img {
  width: 25%;
}
@media (min-width: 768px) {
  .header_section img {
    width: 20%;
  }
}
@media (min-width: 1024px) {
  .header_section img {
    width: 15%;
  }
}
.header_section .header_second_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  width: 100%;
  gap: 1rem;
  position: relative;
}

.header_infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header_infos .header_infos_item {
  font-size: 1.8rem;
  color: var(--primary-color);
}
.header_infos .header_infos_item span {
  font-size: 1.3rem;
  color: var(--terciary-color);
}

.menuIcon, .closeIcon {
  color: var(--primary-color);
  font-size: 2.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menuIcon {
    display: none;
  }
}

.menu_navegation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: absolute;
  top: 2rem;
  right: -1rem;
  height: 26rem;
  width: 50%;
  z-index: 4;
  padding: 1rem;
  background: #000;
  border-end-start-radius: 1rem;
}
.menu_navegation .closeIcon {
  font-size: 4rem;
}

.menu_navegation_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}
.menu_navegation_items .menu_navegation_item {
  width: 100%;
  color: var(--primary-color);
  font-size: 1.8rem;
}
.menu_navegation_items .menu_navegation_item:hover {
  cursor: pointer;
  color: var(--terciary-color);
}

.header_navegation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  display: none;
}
@media (min-width: 768px) {
  .header_navegation {
    display: flex;
  }
}
.header_navegation .header_navegation_item {
  font-size: 1.6rem;
  color: var(--primary-color);
}
.header_navegation .header_navegation_item:hover {
  cursor: pointer;
  color: var(--terciary-color);
}

.home_container {
  min-height: 100vh;
  width: 100%;
}
.home_container h2 {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
}

.section_introducing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  width: 100%;
  height: 36rem;
  padding: 1rem;
  position: relative;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgb(0, 0, 0);
}
.section_introducing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center/100% url("/images/services/funilaria1.avif");
  opacity: 0.2;
  z-index: -1;
}
.section_introducing h5 {
  font-size: 1.2rem;
}
.section_introducing h2 {
  font-size: 1.5rem;
  color: var(--terciary-color);
}
.section_introducing p {
  font-size: 1.6rem;
}

.employers_title, .reviews_title {
  padding: 4rem 0 2rem 0;
}

.section_employers {
  width: 100%;
  padding: 2rem 1rem 6rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.section_employers .employer_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 25rem;
  height: 40rem;
  background: rgba(247, 220, 210, 0.499);
  border-radius: 1rem;
  padding: 1rem;
}
.section_employers .employer_card img {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
}
.section_employers .employer_card .employer_card_texts {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section_employers .employer_card .employer_card_texts h4 {
  font-size: 2rem;
}
.section_employers .employer_card .employer_card_texts p {
  text-align: justify;
  font-size: 1.4rem;
}
.section_employers .employer_card_nets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section_employers .employer_card_nets .employer_card_net_item a {
  color: var(--insta-color);
  font-size: 4rem;
}
.section_employers .employer_card_nets .employer_card_net_item a:hover {
  cursor: pointer;
  color: var(--terciary-color);
}

.services_title {
  background: var(--secundary-color);
  color: var(--primary-color);
  padding: 3rem 0;
}

.section_services {
  width: 100%;
  max-height: 100vh;
  background: #000;
  padding: 4rem 1rem 6rem 1rem;
}
.section_services .services_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1.5rem;
}
.section_services .services_list .services_list_service {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 13rem;
  height: 13rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.897);
}
.section_services .services_list .services_list_service p {
  font-size: 1.4rem;
}
.section_services .services_list .services_list_service .link_know_more {
  font-size: 1.4rem;
  color: var(--terciary-color);
}
.section_services .services_list .services_list_service .link_know_more:hover {
  opacity: 0.5;
}
.section_services .services_list .carIcon1,
.section_services .services_list .carIcon2,
.section_services .services_list .carIcon3,
.section_services .services_list .carIcon4,
.section_services .services_list .carIcon5,
.section_services .services_list .carIcon6,
.section_services .services_list .carIcon7 {
  font-size: 2.4rem;
}

.section_imageSwiper {
  width: 100%;
  position: relative;
}
.section_imageSwiper .ImageSwiper_list {
  width: 100%;
  height: 30rem;
}
.section_imageSwiper .ImageSwiper_list .ImageSwiper_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section_imageSwiper .ImageSwiper_list .ImageSwiper_item .ImageSwiper_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.section_imageSwiper .ImageSwiper_list .ImageSwiper_item .ImageSwiper_card img {
  width: 100%;
}

#swiperRightArrow,
#swiperLeftArrow {
  color: var(--terciary-color);
  position: absolute;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
#swiperRightArrow:hover,
#swiperLeftArrow:hover {
  cursor: pointer;
  opacity: 0.8;
}

#swiperRightArrow {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#swiperLeftArrow {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.funilariaExpress_section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  width: 100%;
  min-height: 100vh;
  border-bottom: 0.1rem solid var(--primary-color);
}
.funilariaExpress_section h2 {
  text-align: center;
  font-size: 3rem;
}

.funilaria_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26rem;
  position: relative;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgb(0, 0, 0);
}
.funilaria_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center/100% url("/images/services/clarity-coat-qu9XY-kl1oU-unsplash.jpg");
  opacity: 0.2;
  z-index: -1;
}
.funilaria_background h2 {
  width: 100%;
  padding: 1rem;
  color: var(--terciary-color);
  position: relative;
}
.funilaria_background h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  opacity: 0.3;
}

.funilariaExpress_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  width: 90%;
}
.funilariaExpress_text_section h4 {
  font-size: 2rem;
}
.funilariaExpress_text_section p {
  padding: 1rem;
  font-size: 1.6rem;
}

.funilariaExpress_second_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.funilariaExpress_second_text_section h5 {
  font-size: 1.6rem;
  background: lightcyan;
}
.funilariaExpress_second_text_section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  padding-left: 3rem;
}
.funilariaExpress_second_text_section ul li {
  list-style: circle;
  font-size: 1.4rem;
}

.microPintura_section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  width: 100%;
  min-height: 100vh;
  border-bottom: 0.1rem solid var(--primary-color);
}
.microPintura_section h2 {
  text-align: center;
  font-size: 3rem;
}

.microPintura_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26rem;
  position: relative;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgb(0, 0, 0);
}
.microPintura_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center/100% url("/images/services/clarity-coat-fYDCMIQ4p_g-unsplash.jpg");
  opacity: 0.2;
  z-index: -1;
}
.microPintura_background h2 {
  width: 100%;
  padding: 1rem;
  color: var(--terciary-color);
  position: relative;
}
.microPintura_background h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  opacity: 0.3;
}

.microPintura_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  width: 90%;
}
.microPintura_text_section h4 {
  font-size: 2rem;
}
.microPintura_text_section p {
  padding: 1rem;
  font-size: 1.6rem;
}

.microPintura_second_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.microPintura_second_text_section h5 {
  font-size: 1.6rem;
  background: lightcyan;
}
.microPintura_second_text_section p {
  padding: 1rem;
  font-size: 1.6rem;
}

.microPintura_third_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.microPintura_third_text_section h5 {
  font-size: 1.6rem;
  background: lightcyan;
}
.microPintura_third_text_section p {
  font-size: 1.6rem;
}
.microPintura_third_text_section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  padding-left: 3rem;
}
.microPintura_third_text_section ul li {
  list-style: circle;
  font-size: 1.4rem;
}
.microPintura_third_text_section ul li span {
  font-size: 1.4rem;
  font-weight: 600;
}

.paraChoque_section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  width: 100%;
  min-height: 100vh;
  border-bottom: 0.1rem solid var(--primary-color);
}
.paraChoque_section h2 {
  text-align: center;
  font-size: 3rem;
}

.paraChoque_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26rem;
  position: relative;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgb(0, 0, 0);
}
.paraChoque_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center/100% url("/images/services/clarity-coat-qu9XY-kl1oU-unsplash.jpg");
  opacity: 0.2;
  z-index: -1;
}
.paraChoque_background h2 {
  width: 100%;
  padding: 1rem;
  color: var(--terciary-color);
  position: relative;
}
.paraChoque_background h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  opacity: 0.3;
}

.paraChoque_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  width: 90%;
}

.paraChoque_second_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.paraChoque_second_text_section p {
  padding: 1rem;
  font-size: 1.6rem;
}

.polimento_section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  width: 100%;
  min-height: 100vh;
  border-bottom: 0.1rem solid var(--primary-color);
}
.polimento_section h2 {
  text-align: center;
  font-size: 3rem;
}

.polimento_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26rem;
  position: relative;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgb(0, 0, 0);
}
.polimento_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center/100% url("/images/services/clarity-coat-qu9XY-kl1oU-unsplash.jpg");
  opacity: 0.2;
  z-index: -1;
}
.polimento_background h2 {
  width: 100%;
  padding: 1rem;
  color: var(--terciary-color);
  position: relative;
}
.polimento_background h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  opacity: 0.3;
}

.polimento_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  width: 90%;
}
.polimento_text_section h4 {
  font-size: 2rem;
}
.polimento_text_section p {
  padding: 1rem;
  font-size: 1.6rem;
}

.polimento_second_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.polimento_second_text_section h5 {
  font-size: 1.6rem;
  background: lightcyan;
}
.polimento_second_text_section p {
  padding: 1rem;
  font-size: 1.6rem;
}
.polimento_second_text_section p span {
  font-size: 1.4rem;
  font-weight: 600;
}

.polimento_third_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.polimento_third_text_section h5 {
  font-size: 1.6rem;
  background: lightcyan;
}
.polimento_third_text_section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  padding-left: 3rem;
}
.polimento_third_text_section ul li {
  list-style: circle;
  font-size: 1.4rem;
}

.vitrificacao_section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  width: 100%;
  min-height: 100vh;
  border-bottom: 0.1rem solid var(--primary-color);
}
.vitrificacao_section h2 {
  text-align: center;
  font-size: 3rem;
}

.vitrificacao_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26rem;
  position: relative;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgb(0, 0, 0);
}
.vitrificacao_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center/100% url("/images/services/clarity-coat-fYDCMIQ4p_g-unsplash.jpg");
  opacity: 0.2;
  z-index: -1;
}
.vitrificacao_background h2 {
  width: 100%;
  padding: 1rem;
  color: var(--terciary-color);
  position: relative;
}
.vitrificacao_background h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  opacity: 0.3;
}

.vitrificacao_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  width: 90%;
}

.vitrificacao_second_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.vitrificacao_second_text_section h5 {
  font-size: 1.6rem;
  background: lightcyan;
}
.vitrificacao_second_text_section p {
  padding: 1rem;
  font-size: 1.6rem;
}

.higienizacao_section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  width: 100%;
  min-height: 100vh;
  border-bottom: 0.1rem solid var(--primary-color);
}
.higienizacao_section h2 {
  text-align: center;
  font-size: 3rem;
}

.higienizacao_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26rem;
  position: relative;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgb(0, 0, 0);
}
.higienizacao_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center/100% url("/images/services/clarity-coat-qu9XY-kl1oU-unsplash.jpg");
  opacity: 0.2;
  z-index: -1;
}
.higienizacao_background h2 {
  width: 100%;
  padding: 1rem;
  color: var(--terciary-color);
  position: relative;
}
.higienizacao_background h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  opacity: 0.3;
}

.higienizacao_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  width: 90%;
}

.higienizacao_second_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.higienizacao_second_text_section h5 {
  font-size: 1.6rem;
  background: lightcyan;
}
.higienizacao_second_text_section p {
  padding: 1rem;
  font-size: 1.6rem;
}
.higienizacao_second_text_section p span {
  font-size: 1.4rem;
  font-weight: 600;
}

.martelinhoDeOuro_section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  width: 100%;
  min-height: 100vh;
  border-bottom: 0.1rem solid var(--primary-color);
}
.martelinhoDeOuro_section h2 {
  text-align: center;
  font-size: 3rem;
}

.martelinhoDeOuro_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26rem;
  position: relative;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgb(0, 0, 0);
}
.martelinhoDeOuro_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center/100% url("/images/services/funilaria1.avif");
  opacity: 0.2;
  z-index: -1;
}
.martelinhoDeOuro_background h2 {
  width: 100%;
  padding: 1rem;
  color: var(--terciary-color);
  position: relative;
}
.martelinhoDeOuro_background h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  opacity: 0.3;
}

.martelinhoDeOuro_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  width: 90%;
}

.martelinhoDeOuro_second_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.martelinhoDeOuro_second_text_section h5 {
  font-size: 1.6rem;
  background: lightcyan;
}
.martelinhoDeOuro_second_text_section p {
  padding: 1rem;
  font-size: 1.6rem;
}
.martelinhoDeOuro_second_text_section p span {
  font-size: 1.4rem;
  font-weight: 600;
}

.higienizacaoComOzonio_section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  width: 100%;
  min-height: 100vh;
  border-bottom: 0.1rem solid var(--primary-color);
}
.higienizacaoComOzonio_section h2 {
  text-align: center;
  font-size: 3rem;
}

.higienizacaoComOzonio_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26rem;
  position: relative;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgb(0, 0, 0);
}
.higienizacaoComOzonio_background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center/100% url("/images/services/funilaria1.avif");
  opacity: 0.2;
  z-index: -1;
}
.higienizacaoComOzonio_background h2 {
  width: 100%;
  padding: 1rem;
  color: var(--terciary-color);
  position: relative;
}
.higienizacaoComOzonio_background h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  opacity: 0.3;
}

.higienizacaoComOzonio_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  width: 90%;
}

.higienizacaoComOzonio_second_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.higienizacaoComOzonio_second_text_section p {
  padding: 1rem;
  font-size: 1.6rem;
}

.section_reviews {
  width: 100%;
  max-height: 100vh;
  padding: 2rem 1rem 6rem 1rem;
  position: relative;
}
.section_reviews .reviews_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1.5rem;
}
.section_reviews .reviews_list .reviews_list_review {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section_reviews .reviews_list .reviews_list_review .review_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  width: 85%;
  height: 34rem;
  padding: 2rem 4rem;
  border-radius: 1rem;
  background: var(--secundary-color);
  color: var(--primary-color);
}
.section_reviews .reviews_list .reviews_list_review .review_card img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}
.section_reviews .reviews_list .reviews_list_review .review_card span {
  font-size: 3rem;
  color: yellow;
}
.section_reviews .reviews_list .reviews_list_review .review_card p {
  text-align: justify;
  font-size: 1.4rem;
}

#rightArrow,
#leftArrow {
  color: var(--terciary-color);
  position: absolute;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
#rightArrow:hover,
#leftArrow:hover {
  cursor: pointer;
  opacity: 0.8;
}

#rightArrow {
  right: -10px;
}

#leftArrow {
  left: -10px;
}

.clientsLogo_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: auto;
  padding: 4rem 0;
  background: var(--secundary-color);
}
.clientsLogo_section h2 {
  color: var(--primary-color);
}
.clientsLogo_section .clientsLogo_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}
.clientsLogo_section .clientsLogo_list .clientsLogo_list_item {
  width: 25%;
}
.clientsLogo_section .clientsLogo_list .clientsLogo_list_item img {
  border: 0.1rem solid var(--primary-color);
  width: 100%;
  border-radius: 1rem;
}

.partnersLogo_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: auto;
  padding: 4rem 0;
}
.partnersLogo_section .partnersLogo_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}
.partnersLogo_section .partnersLogo_list .partnersLogo_list_item {
  width: 25%;
}
.partnersLogo_section .partnersLogo_list .partnersLogo_list_item img {
  width: 100%;
  border: 0.1rem solid var(--secundary-color);
  border-radius: 1rem;
}

.WhoAreWe_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  min-height: 100vh;
  width: 100%;
  padding-top: 4rem;
  border-bottom: 0.1rem solid var(--primary-color);
}
.WhoAreWe_section h2 {
  padding: 0 3rem;
  font-size: 3rem;
}
.WhoAreWe_section p {
  padding: 0 3rem;
  text-align: justify;
  font-size: 2rem;
}

.second_WhoAreWe_section {
  margin-top: 3rem;
}
.second_WhoAreWe_section h2 {
  width: 100%;
  padding-top: 2rem;
  background: var(--secundary-color);
  text-align: center;
  color: var(--primary-color);
}

.footer_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 24rem;
  padding: 2rem 1rem;
  background: #000;
}
@media (min-width: 768px) {
  .footer_section {
    padding: 1rem 3rem;
  }
}
.footer_section .footer_first_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer_section .footer_first_section .Image_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer_section .footer_first_section .Image_section img {
  width: 60%;
}
@media (min-width: 768px) {
  .footer_section .footer_first_section .Image_section img {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .footer_section .footer_first_section .Image_section img {
    width: 35%;
  }
}
.footer_section .footer_first_section .footer_second_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  position: relative;
}
.footer_section .footer_finalText_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer_section .footer_finalText_section p {
  font-size: 1.2rem;
  color: var(--primary-color);
}
.footer_section .footer_finalText_section p .CopyRightIcon {
  margin-right: 1rem;
  font-size: 1.3rem;
}

.footer_navegation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.footer_navegation .footer_navegation_item {
  font-size: 1.6rem;
  color: var(--primary-color);
}
.footer_navegation .footer_navegation_item:hover {
  cursor: pointer;
  color: var(--terciary-color);
}

.nets {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.nets .net_item a {
  font-size: 4rem;
  color: var(--primary-color);
}
.nets .net_item a .insta {
  color: var(--insta-color);
}
.nets .net_item a .insta:hover {
  cursor: pointer;
  color: var(--terciary-color);
}
.nets .net_item a .whats {
  color: var(--whats-color);
}
.nets .net_item a .whats:hover {
  cursor: pointer;
  color: var(--terciary-color);
}

.main_content {
  background: var(--primary-color);
}/*# sourceMappingURL=style.css.map */